#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --backgroundColor: #F4F4F4;
  --primaryColor: #6358DC;
  background-color: var(--backgroundColor);
  font-family: 'Poppins', sans-serif;
  color: #1C1B1F;
}


.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--backgroundColor);
  padding: 0;
  justify-content: space-around;

  .illustration-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    max-height: 80%;

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }



  .form-section {
    background-color: #FFFFFF;
    border: 1px;
    border-radius: 1.25rem;
    flex: 1;
    flex-direction: column;
    gap: 0.625rem;
    max-width: 25rem;
    width: 100%;
    padding: 2.5rem;



    .social-login {
      width: 100%;
      display: flex;
      flex-direction: column;

      .social-btn {
        font-weight: 500;
        font-size: 1rem;
        display: flex;
        padding: 0.625rem;
        background-color: #FFFFFF;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: auto;
        border: 1px solid #E2E2E2;
        border-radius: 1rem;
        cursor: pointer;
        margin-bottom: 0.625rem;

        .social-icon {
          margin-right: 0.3125rem;
        }
      }
    }
  }
}


.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;

  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #BFBFBF;
  }

  span {
    padding: 0 1rem;
    color: #1C1B1F;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.05em;
  }
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .input-wrapper {
    display: flex;
    align-items: center;
    background: var(--backgroundColor);
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    border: 1px solid #E2E2E2;

    &.floating {
      position: relative;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      border: none;
      background: transparent;
      outline: none;
      font-size: 1rem;
      width: 100%;
      padding: 0.5rem 0;
      font-weight: 700;
    }
  }

  .input-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.75rem;
  }

  .floating-label {
    position: absolute;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.2s;
  }

  .input-wrapper.floating.active .floating-label {
    top: 15%;
    font-size: 0.8rem;
    background: var(backgroundColor);
    padding: 0 0.25rem;
  }

  .form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .forgot-password {
    color: var(--primaryColor);
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    transition: text-decoration 0.2s;
  }

  .forgot-password:hover {
    text-decoration: underline;
  }

  .checkbox-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .login-btn {
    width: 100%;
    padding: 1rem 0;
    background: var(--primaryColor);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
  }

  .visibility-toggle {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .visibility-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.register-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
}

.register-link {
  color: var(--primaryColor);
  text-decoration: none;
  font-weight: 400;
  transition: text-decoration 0.2s;
}

.register-link:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-top: 0.1rem;
}

.home-page {
  min-height: 100vh;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;

  .home-content {
    padding: 0 2.5rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}



.user-section {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 1.5rem 0;
  border: 1px;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-shadow: 0px 4px 14px 0px #000000A6;
  width: 100%;
}

.user-icon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-label {
  font-size: 0.95rem;
  margin-bottom: 0.2rem;
}

.user-name {
  font-size: 1.3rem;
  font-weight: 600;
  color: #6358DC;
  margin-bottom: 0.2rem;
}

.user-email {
  font-size: 1rem;
}

.logout-btn {
  background: var(--primaryColor);
  color: #fff;
  border: none;
  border-radius: 0.7rem;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
}

.heading {

  font-weight: 500;
  font-size: 2.25rem;
  margin-bottom: 1.25rem;

  .unstop {
    font-weight: 900;
    color: var(--primaryColor);
  }
}

@media (max-width: 700px) {
  .login-page {
    flex-direction: column;

    .illustration-section,
    .form-section {
      max-width: 80%;
    }
  }
}